<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.masterpicar.mapper.RobotExecLogMapper">
    
    <resultMap type="RobotExecLog" id="RobotExecLogResult">
        <result property="logId"    column="log_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="sourceType"    column="source_type"    />
        <result property="sourceId"    column="source_id"    />
        <result property="result"    column="result"    />
        <result property="detail"    column="detail"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <resultMap id="RobotExecLogRobotDeviceResult" type="RobotExecLog" extends="RobotExecLogResult">
        <collection property="robotDeviceList" ofType="RobotDevice" column="log_id" select="selectRobotDeviceList" />
    </resultMap>

    <resultMap type="RobotDevice" id="RobotDeviceResult">
        <result property="deviceId"    column="device_id"    />
        <result property="deviceName"    column="device_name"    />
        <result property="deviceSn"    column="device_sn"    />
        <result property="ipAddress"    column="ip_address"    />
        <result property="onlineStatus"    column="online_status"    />
        <result property="lastOnlineTime"    column="last_online_time"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRobotExecLogVo">
        select log_id, device_id, source_type, source_id, result, detail, create_time from robot_exec_log
    </sql>

    <select id="selectRobotExecLogList" parameterType="RobotExecLog" resultMap="RobotExecLogResult">
        <include refid="selectRobotExecLogVo"/>
        <where>  
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="sourceType != null  and sourceType != ''"> and source_type = #{sourceType}</if>
            <if test="sourceId != null "> and source_id = #{sourceId}</if>
            <if test="result != null  and result != ''"> and result = #{result}</if>
            <if test="detail != null  and detail != ''"> and detail = #{detail}</if>
        </where>
    </select>
    
    <select id="selectRobotExecLogByLogId" parameterType="Long" resultMap="RobotExecLogRobotDeviceResult">
        select log_id, device_id, source_type, source_id, result, detail, create_time
        from robot_exec_log
        where log_id = #{logId}
    </select>

    <select id="selectRobotDeviceList" resultMap="RobotDeviceResult">
        select device_id, device_name, device_sn, ip_address, online_status, last_online_time, remark, create_time, update_time
        from robot_device
        where device_name = #{device_name}
    </select>

    <insert id="insertRobotExecLog" parameterType="RobotExecLog" useGeneratedKeys="true" keyProperty="logId">
        insert into robot_exec_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="sourceType != null">source_type,</if>
            <if test="sourceId != null">source_id,</if>
            <if test="result != null">result,</if>
            <if test="detail != null">detail,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="sourceType != null">#{sourceType},</if>
            <if test="sourceId != null">#{sourceId},</if>
            <if test="result != null">#{result},</if>
            <if test="detail != null">#{detail},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateRobotExecLog" parameterType="RobotExecLog">
        update robot_exec_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
            <if test="sourceId != null">source_id = #{sourceId},</if>
            <if test="result != null">result = #{result},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteRobotExecLogByLogId" parameterType="Long">
        delete from robot_exec_log where log_id = #{logId}
    </delete>

    <delete id="deleteRobotExecLogByLogIds" parameterType="String">
        delete from robot_exec_log where log_id in 
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>
    
    <delete id="deleteRobotDeviceByDeviceNames" parameterType="String">
        delete from robot_device where device_name in 
        <foreach item="deviceName" collection="array" open="(" separator="," close=")">
            #{deviceName}
        </foreach>
    </delete>

    <delete id="deleteRobotDeviceByDeviceName" parameterType="Long">
        delete from robot_device where device_name = #{deviceName}
    </delete>

    <insert id="batchRobotDevice">
        insert into robot_device( device_id, device_name, device_sn, ip_address, online_status, last_online_time, remark, create_time, update_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.deviceId}, #{item.deviceName}, #{item.deviceSn}, #{item.ipAddress}, #{item.onlineStatus}, #{item.lastOnlineTime}, #{item.remark}, #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>
</mapper>